astroid==2.9.3
certifi==2024.7.4
charset-normalizer==3.3.2
decorator==4.4.2
idna==3.7
imageio==2.34.2
imageio-ffmpeg==0.5.1
isort==5.13.2
jedi==0.18.1
lazy-object-proxy==1.10.0
mccabe==0.6.1
moviepy==1.0.3
numpy==2.0.0
parso==0.8.4
pika==1.2.0
pillow==10.4.0
platformdirs==4.2.2
proglog==0.1.10
pylint==2.12.2
pymongo==4.0.1
requests==2.32.3
toml==0.10.2
tqdm==4.66.4
urllib3==2.2.2
wrapt==1.13.3